# Compiled binary (bee run produces this)
expense-tracker-api
Personal-Expense-Tracker-API
bin/


# Runtime data files (auto-created by the app)
data/

# Go test cache
*.test
*.out
coverage.out
.coverprofile


# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Local app configuration
conf/app.conf

# Beego logs (if generated)
logs/
*.log

